html {
  background-color: black;
  color: #ffffff;
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.inspecionar {
  border: 5px solid yellow;
}

.nav {
  padding: 2rem 6rem;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
}
